/* Global styles */
.center-item {
    text-align: center;
}

.main-content {
    width: 70%;
    margin: auto;
}

.app-background {
    background-color: #f4f3ef;
}

body {
    background-color: #f4f3ef;
}

.submitBtn {
    margin-top: 1rem;
}
